body {
  background: url(https://c.wallhere.com/photos/2a/55/headphones_table_sennheiser_hd_598_hi_tech_wall-627326.jpg!d);
  margin: 0;
  padding: 0;
  padding-top: 30px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
